APP_ENVIRONMENT=prod
APP_HOST=http://127.0.0.1
APP_PORT=8081

DB_CONNECTION=mysql
DB_MULTI_STATEMENT=true
DB_DATE_STRINGS=true
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=rbac
DB_USERNAME=rbac
DB_PASSWORD=